<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">

            <!-- note the ng-init and ng-click here: -->
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{$ctrl.sitename || "Website Template"}}</a>
        </div>

        <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="li in $ctrl.links">
                    <a ng-href="{{li.url}}">{{li.name}}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>